<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home | MyNotes</title>
</head>

<body>
    

    <div class="jumbotron align-items-center">
        <h1 class="display-3">Welcome to <b>MyNotes</b> app</h1>
        <p class="lead">Your all-in-one notes app!</p>
        
    </div>

    <div class="jumbotron" style="background-color: #fff;">
        <h1 class="display-4">Manage your notes</h1>
        <p class="lead">In this app, you can manage your notes. 
            You can add, edit, delete, filter and search notes that you've created. Happy writings!</p>
        <a class="btn btn-primary btn-lg" style="color: #fff; text-decoration: none;"
            href="{{url_for('menu')}}">Get Started</a>
    </div>

</body>

</html>